body {
  margin: 0px;
  padding: 0px;
  text-align: center;
}

.container {
  display: flex;
}

.test {
  border: 5px solid red;
}

#playerOne {
  /*float: left;*/
  border: 1px solid black;
  height: 100px;
}

#spin {
  width: 80%;
}

#playerTwo {
 /* float: right;*/
  border: 1px solid black;
  height: 100px;
}

.container1 {
}

#phrase {
  border: 1px solid black;
  height: 500px;
  display: flex;
  margin-top: 20px;
}

#two {
  margin-top: 35px;
  font-size: 14px;
  font-family: cursive;
  font-weight: bold;
}


table {
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  margin-top: 120px;
}

footer {
  height: 200px;
  border: 1px solid black;
  margin-top:5px;
}

tbody {
  background-color: #66b8ff;
}

td {
  width: 50px;
  height: 50px;
}
